body {
    margin: 0; /* SOMENTE SE TIVER MARGIN, TODAS AS 4 MARGENS TERÃO 0 */
    padding: 0; /* SOMENTE SE TIVER PADDING, TODAS O 4 PREENCHIMENTOS TERÃO 0 */
    border: 0; /* LARGURA DA BORDA */
  }

  /* INICIO DA HEADER */
.cabeçalho {
    background-color: black; /* COR DO FUNDO DA DIV CABEÇALHO */
    width: 100%; /* LARGURA DA DIV CABEÇALHO */
    height: 80px; /* ALTURA DA DIV CABEÇALHO */
}

.caixa {
    max-width: 1186px; /* LARGURA MAXIMA DA DIV CAIXA */
    height: 100%; /* ALTURA DA DIV CAIXA */
    margin-left: 122px; /* MARGIM ESQUERDA DA DIV CAIXA */
}

.cabeçalho h1 {
    float: left; /* O H1 FLUTUA PARA A ESQUERDA */
    padding-top: 20px; /* PREENCHIMENTO SUPERIOR DO H1 */
}

#cor_projeto {
    color: orangered; /* COR DAS PALAVRAS COM ID INSERIDO NAS TAGS */
}

h1 {
    margin-top: 0; /* MARGIM SUPERIOR DO H1 */
    color: white; /* COR DO H1 */
}

ul {
    list-style: none; /* SE UM VALOR ESTIVER FALTANDO, O VALOR PADRÃO SERÁ USADO */
    margin-top: 0; /* MARGIM SUPERIOR DO UL */
    padding-top: 33px; /* PREENCHIMENTO SUPERIOR DO UL */
    margin-left: 823px; /* MARGIM ESQUERDA DO UL */
    font-size: 12px; /* TAMANHO DA FONTE DO UL */
}

ul li {
    color: white; /* COR DAS LI */
    display: inline; /* COPORTAMENTO DE EXIBIÇÃO */ /*perguntar para o jesus*/
    margin-left: 5px; /* MARGEM ESQUERDA DAS LI */
    font-size: larger; /* TAMANHO DA LARGURA ENTRE AS LI */
}
/* FIM DA HEADER */

/* INICIO DA DIV LARANJA */
.linha {
    background-color: orangered; /* COR DO FUNDO DA DIV LINHA */
    width: 100%; /* LARGURA DA DIV LINHA */
    height: 3px; /* ALTURA DA DIV LINHA */
}
/* FIM DA DIV LARANJA */

/* INICIO DA ÊNFASE DA PAGINA */
.ênfase {
    background-image: url(team.png); /* IMAGEM DE FUNDO */
    background-size:cover; /* ESPECIFICA O TAMANHO DA IMAGEM DE FUNDO; auto = altura, cover = cobrir, contain = conter */
    background-repeat: no-repeat; /* COMO A AIMGEM DE FUNDO SERÁ REPETIDA; no-repeat = não repetir */
    min-height: 400px; /* ALTURA MINIMA DA IMAGEM/ELEMENTO */
}

.ênfase .container {
    max-width: 80%; /* LARGURA MAXIMA DA DIV CONTAINER/ELEMENTO */
    text-align: center; /* ALINHAMENTO HORIZONTAL DO TEXTO */
    margin: 0; /* SOMENTE SE TIVER MARGIN, TODAS AS 4 MARGENS TERÃO 0 */
}

.ênfase .container h1 {
    padding-top: 145px; /* PREENCHIMENTO SUPERIOR DA FRASE H1 */
    color: orangered; /* COR DA FRASE H1 */
    font-size: 50px; /* TAMANHO DA FONTE DA FRASE H1 */
    margin: 0; /* SOMENTE SE TIVER MARGIN, TODAS AS 4 MARGENS TERÃO 0 */
    padding-left: 271px; /* PREENCHIMENTO ESQUERDO DA FRASE H1 */
}

.ênfase .container p {
    padding-top: 20px; /* PREENCHIMENTO SUPERIOR DA FRASE P */
    color: white; /* COR DA FRASE P */
    font-size: 20px; /* TAMANHO DA FONTE DA FRASE P */
    margin: 0; /* SOMENTE SE TIVER MARGIN, TODAS AS 4 MARGENS TERÃO 0 */
    padding-left: 271px; /* PREENCHIMENTO ESQUERDO DA FRASE P */
}
/* FIM DA ÊNFASE DA PAGINA */

/* INICIO DA DIV ATUALIZAÇÃO */
.atualização {
    background-color: black; /* COR DO FUNDO DA DIV ATUALIZAÇÃO */
    width: 100%; /* LARGURA DA DIV */
    height: 80px; /* ALTURA DA DIV */
}

.atualização .caixa {
    max-width: 1120px; /* LARGURA MAXIMA DA DIV CAIXA */
    height: 100%; /* ALTURA DA DIV CAIXA */
    margin-left: 130px; /* MARGEM ESQUERDA DA DIV CAIXA */
}

.atualização h2 {
    float: left; /* O H2 FLUTUA PARA A ESQUERDA */
    padding-top: 7px; /* PREENCHIMENTO SUPERIOR DO H2 */
    color: white; /* COR DO H2 */
}

.input_botão {
    float: right; /* O INPUT E BOTÃO FLUTUA PARA A DIREITA */
    padding-top: 25px; /* PREENCHIMENTO SUPERIOR DO INPUT E BOTÃO */
    margin-right: 50px; /* MARGEM DIREITA DO INPUT E BOTÃO */
}

#input {
    border: none; /* LARGURA DA BORDA, NO CASO SEM BORDA */
    height: 30px; /* ALTURA DO INPUT/CAMPO */
    width: 205px; /* LARGURA DO INPUT/CAMPO */
    font-size: 10px; /* TAMANHO DA FONTE DO INPUT */
}
#botão {
    background-color: orangered; /*  COR DE FUNDO DO BOTÃO */
    border: none; /* LARGURA DA BORDA, NO CASO SEM BORDA */
    height: 30px; /* ALTURA DO BOTÃO */
    width: 60px; /* LARGURA DO BOTÃO */
    font-size: 10px; /* TAMANHO DA FONTE DO BOTÃO */
}
/* FIM DA DIV ATUALIZAÇÃO */
.conteudo .caixa {
    padding-top: 50px; /* PREENCHIMENTO SUPERIOR DA DIV CAIXA */
    height: 250px; /* ALTURA DA DIV CAIXA */
}

.conteudo .caixa .missão {
    max-width: 30%; /* LARGURA MÁXIMA DA DIV MISSÃO */
    float: left; /* A DIV MISSÃO FLUTUA PARA A ESQUERDA */
    text-align: center; /* OALINHAMENTO HORIZONTAL DO TEXTO */
    margin-right: 60px; /* SOMENTE SE TIVER MARGIN, TODAS AS 4 MARGENS TERÃO 0 */
    margin-left: 10px; /* MARGEM ESQUERDA DA DIV MISSÃO */

}

.conteudo .caixa .valores {
    max-width: 30%; /* LARGURA MÁXIMA DA DIV MISSÃO */
    float: left; /* A DIV MISSÃO FLUTUA PARA A ESQUERDA */
    text-align: center; /* OALINHAMENTO HORIZONTAL DO TEXTO */
    margin-right: 60px; /* SOMENTE SE TIVER MARGIN, TODAS AS 4 MARGENS TERÃO 0 */
}

.conteudo .caixa .visão {
    max-width: 30%; /* LARGURA MÁXIMA DA DIV MISSÃO */
    float: left; /* A DIV MISSÃO FLUTUA PARA A ESQUERDA */
    text-align: center; /* ALINHAMENTO HORIZONTAL DO TEXTO */
    margin: 0; /* SOMENTE SE TIVER MARGIN, TODAS AS 4 MARGENS TERÃO 0 */
}

.icone {
    width: 100px; /* LARGURA DAS 3 IMAGENS */
}
/* FIM (MISSÃO, VALORES, E VISÃO) */

/* INICIO DO FOOTER */
.footer {
    background-color: orangered; /* COR DO FUNDO DA DIV FOOTER */
    height: 80px; /* ALTURA DA DIV */
}

.footer p {
    margin: 0; /* SOMENTE SE TIVER MARGIN, TODAS AS 4 MARGENS TERÃO 0 */
    color: white; /* COR DA FRASE P */
    padding-top: 40px; /* PREENCHIMENTO SUPERIOR DA DIV FOOTER */
    text-align: center; /* ALINHAMENTO HORIZONTAL DO TEXTO */
    font-size: 15px;
}